{% extends 'layout.html.twig' %}
{% set pagination %}
<nav class="pagination">
  <a class="start" href="{{path('bdd')}}?page=1">Debut</a>
  <a class="before" href="{{path('bdd')}}?page={{pages['previousPage']}}"><</a>
  <span class="actual">{{pages['actualPage']}}</span>
  <a class="after" href="{{path('bdd')}}?page={{pages['nextPage']}}">></a>
</nav>
{% endset %}
{% block title %}BDD{% endblock %}
{% block link %}
  {{parent()}}
  {{encore_entry_link_tags('bddCss')}}
{% endblock %}
{% block content %}
  {{nbrPage}}
  {% if recherche is defined %}
    {{recherche}}
  {% endif %}

  <section>
    <h2>Tableaux</h2>
    <form id="rechercheBar" action="{{path('bdd')}}" method="post">
      <label for="recherche">Rechercher un produit:
      </label>
      <input type="text" name="recherche" value="" required="required">
      <input type="submit" name="submitRecherche" value="Enter">
    </form>
    {% if allProduct %}
      {{pagination}}
      <table>
        <th>Nom du produit</th>
        <th>Nom du fourniseur</th>
        <th>Echelle</th>
        <th>Description</th>
        <th>Nombre en stock</th>
        <th>Prix</th>
        <tbody>
          {% for key, value in allProduct %}
            <tr>
              {% for key2, value2 in value %}
                <td>{{value2}}</td>
              {% endfor %}
            </tr>
          </tbody>
        {% endfor %}
      </table>
    {% else %}
      <p>Pas de produit trouvé</p>
    {% endif %}
    {{pagination}}
    {% if info is defined %}
      <section>
        <h2>Informations suplémentaires</h2>
        <table>
          <thead>
            <th>Nombre de produit en vente</th>
            <th>Prix moyen</th>
          </thead>
          <tbody>
            <tr>
              {% for key, value in info %}
                <td>{{value}}</td>
              {% endfor %}
            </tr>
          </tbody>
        </table>
      </section>
    {% endif %}
    <section>
      Explication
    </section>
  {% endblock %}
{% block bottomLink %}
{{parent()}}
{% endblock %}
